################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Release
/Debug
/.vs/FFmpegMFT/v15
/FFmpegMFT/Debug
/FFmpegMFT/Release
/ffmpeg/build32
/ffmpeg
/ffmpeg_Zvi
/ffmpeg_Zelig
